<html>
<head>
    <title>Tools小站</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>
<h1><strong>Tools小站</strong></h1>
<form method="POST" enctype="multipart/form-data" action="" id="uploadform">
    <label class="label">图片格式转换</label>
    <input type="file" name="uploadfile" />
    <span>转换为</span>
    <span>
        <select name="targetformat">     
            <option>bmp</option>
            <option>gif</option>
            <option>ico</option>
            <option>jpg</option>
            <option>pdf</option>
            <option>png</option>
            <option>tiff</option>
        </select>
    </span>
    <button type="submit" class="button">提交</button>
</form>
</body>
</html>
