<html>
<head>
  <title>Tools小站</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/custom.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js">
  </script>
</head>

<body>
  <div class="columns">
    <div id="sidebar" class="column is-narrow">
      <a class="nav-item" href="/">
        <h1 style="padding: 1em; padding-bottom: 0.3em; color: #ff5722; font-size: 36px">Tools小站</h1>
      </a>
      <span class="icon">
        <a href="https://github.com/wataxiwaX">\
          <i class="fa fa-github"></i>
        </a>
      </span>
      <span class="icon">
        <a href="https://wataxiwax.github.io">\
          <i class="fa fa-rss"></i>
        </a>
      </span>
      <div class="menu">
        <p style="text-align: left; font-size: 20px;" class="menu-label">TOOLS</p>
        <ul class="menu-list">
          <li><a style="padding-left: 1em; font-size: 18px" href="picture" class="pure-menu-link">图片格式转换</a></li>
        </ul>
      </div>
    </div>

    <div class="column index-div">
      <div style="width: 80%; height: auto; position: relative; top: calc(50% - 20%); left: 10%; text-align: center">
        <span style="margin: 0.2em; font-size: 10em; color: #ff5722; position: relative; text-align: center; display: inline-block">T</span>
        <span style="margin: 0.2em; font-size: 10em; color: #ffeb3b; position: relative; text-align: center; display: inline-block">o</span>
        <span style="margin: 0.2em; font-size: 10em; color: #607d8b; position: relative; text-align: center; display: inline-block">o</span>
        <span style="margin: 0.2em; font-size: 10em; color: #3f51b5; position: relative; text-align: center; display: inline-block">l</span>
        <span style="margin: 0.2em; font-size: 10em; color: #9c27b0; position: relative; text-align: center; display: inline-block">s</span>
      </div> 
    </div>
  </div>

  <script type="text/javascript">
    $$("#menus").click(function() {
        $$("#sidebar").toggle();
    });
  </script>
</body>
</html>
